In [934]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random as rd
import string
import math

So, I am pretty new to Machine Learning (my only background is the Online Coursera Course from Andrew Ng), so this is my plan for this project. 

1. I am going to first analyze the data shown in order to get a better feel of the data itself and what its structure is. I will do this using pandas and matplot lib. Relevant figures will be shown in Feature Analysis Document. Additionally, I will update the data by creating new features that would help in computation.

2. After analyzing features, I will create two machine learning models from scratch, a decision tree, trained and tested recursively using the Gini Impurity metric as well as a logistic regression model. These two models will help me predict the titanic result for the test data. 

3. In each model I will try to avoid overfitting, this will be done through regularization in the case of logistic regression, and by creating a min node cap for the decision tree. 

4. I will split the training data into two sets, Regular and Cross-Validation, using a 80 - 20 split. After evaluating the data on each set, using the F-score metric, I will tweak the regularization terms accordingly in order to produce the best results. I will also compare my results (for logistic regression) to well known logistic regression library, sklearn. 

5. Finally, I will do the same to the test data and submit my scores on Kaggle.


All of the models will be shown in the code below. However, if you wish to check out how features were analyzed, you may look at the feature analysis document.

In [935]:
#f-score Metrix

def calc_f_score(y_pred, y_test):
    true_positive = 0
    false_negatives = 0
    false_positives = 0
    for i in range(len(y_pred)):
        if y_pred[i] == 1 and y_test[i] == 1:
            true_positive += 1
        elif y_pred[i] == 1 and y_test[i] == 0:
            false_positives += 1
        elif y_pred[i] == 0 and y_test[i] == 1:
            false_negatives += 1
    precision = true_positive / (true_positive + false_positives)
    recall = true_positive/ (true_positive + false_negatives)
    return  2 / (1/precision + 1/recall)   

#from Feature Analysis'
data = pd.read_csv('Titanic/train.csv')

def avg(lst):
    return sum(lst)/ len(lst)

def change_sex_to_number(gender):
    if gender == 'male':
        return 0
    else:
        return 1

def change_embarked_to_number(embarked):
    if embarked == 'S':
        return 1
    elif embarked == 'C':
        return 2
    elif embarked == 'Q':
        return 3
    else:
        return 0
    
def add_feat(data):
    
    titles = ['Mrs','Mr', 'Miss', 'Ms', 'Master', 'Dona', 'Captain', 'Rev', 'Don', 'Dr', 'Major', 'Mlle', 'Col', 'Jonkheer', 'Mme', 'Capt', 'Countess' , 'Sir', 'Mme'] 

    simp_title = {'Mr': 1, 'Mrs': 2, 'Master': 3, 'Miss': 4, 'Army': 5, 'Academic': 6, 'Royal': 7}
            
    data['Sex_Number'] = [change_sex_to_number(sex) for sex in data['Sex']]
    data['Embarked_number'] = [change_embarked_to_number(embarked) for embarked in data['Embarked']]
    data['Name_Plain'] = ["".join(l for l in b if l not in string.punctuation) for b in data['Name']]
    data['Very_Young'] = [int(b <= 5) for b in data['Age']]
    data['Title'] = [[word for word in sting.split() if word in titles][0] for sting in data['Name_Plain']]
    data['Title'] = data['Title'].replace(['Capt', 'Col', 'Major'], 'Army')
    data['Title'] = data['Title'].replace(['Dr', 'Rev'], 'Academic')
    data['Title'] = data['Title'].replace(['Countess', 'Lady', 'Sir', 'Jonkheer', 'Don', 'Dona'], 'Royal')
    data['Title'] = data['Title'].replace(['Mlle', 'Ms'], 'Miss')
    data['Title'] = data['Title'].replace('Mme', 'Mrs')
    data['Title_Numeric'] = [simp_title[sting] for sting in data['Title']]



def change_age(data):
    nul = data['Age'].isnull()
    old_male_avg = avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 1])
    
    old_female_avg = avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 2])
    
    young_female_avg = avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 4])
    young_male_avg = avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 3])
    army_average = avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 5])
    royal_average =avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 7])
    academic_average = avg([data['Age'][index] for index in range(len(data['Age'])) if not nul[index] and data['Title_Numeric'][index] == 6])
    age_avg = { 1: old_male_avg, 2: old_female_avg, 4: young_female_avg, 3: young_male_avg, 5: army_average, 6: academic_average, 7: royal_average}
    
   
    
    
    for index in range(len(nul)):
        if nul[index]:
            if data['Title_Numeric'][index] in age_avg:
                data['Age'][index] = age_avg[data['Title_Numeric'][index]]
      

                

    
#From Decision Tree

class DecisionTree:
    empty_positive = [1]
    empty_negative = [0]
    empty = []
    threshold = 0.05
    def __init__(self, total = 1):
        self.right = self.empty
        self.left  = self.empty
        DecisionTree.threshold = DecisionTree.threshold * total
    def __str__(self):
        if self.left == self.empty_positive:
            left = '(+)'
        elif self.left == self.empty_negative:
            left = '(-)'
        else:
            left = str(self.left)
        if self.right == self.empty_positive:
            right = '(+)'
        elif self.right == self.empty_negative:
            right = '(-)'
        else:
            right = str(self.right)
        return '(' + str(self.split) + ', ' + str(self.col) + ')\n' + left + '\n' + right
    
   
    
    def test(self, data_pt):
        assert self is not self.empty
        if data_pt[self.col] < self.split:
            if self.right == self.empty_positive:
                return 1
            elif self.right == self.empty_negative:
                return 0
            else:
                return self.right.test(data_pt)
        else:
            if self.left == self.empty_positive:
                return 1
            elif self.left == self.empty_negative:
                return 0
            else:
                return self.left.test(data_pt)
    
    def calculate_gini_impurity(self, X, y, split, col):
        p_right = 0
        num_right = 0
        p_left = 0
        num_left = 0
        #print('Col: ', col)
        
        for index in range(len(X[:, col])):
                      
            if X[index, col] > split:
                num_right += 1
                if y[0, index] != 0:
                    p_right += 1
            else:
                num_left += 1
                
                if y[0, index] != 0:
                    p_left += 1
                
        
        
        p_left = p_left / num_left
        p_right = p_right / num_right
        #print('PLeft: ', p_left)
        #print('PRight: ', p_right)
        
        total_impurity = ((p_left - p_left*p_left) * num_left + (p_right - p_right * p_right) * num_right)/ (num_left + num_right)
        #print('Total Impurity: ', total_impurity)
        
        return total_impurity
            
        
        
        
    def train(self, X_and_y):
        self.matrix = X_and_y
        X = np.matrix(X_and_y[:, :-1])
        
        y = np.matrix(X_and_y[:, -1])
        
        n, m = np.shape(X)
        col_number = 0
        split_value= 0
        min_impur = 1
        for col in range(m):
            mini = min(X[:, col])
            maxi = max(X[:, col])
            interval = (maxi - mini)/10
            if interval == 0:
                continue
            for _ in range(10):
                
                impur = self.calculate_gini_impurity(X, y, mini[0,0], col)
                
                if impur <= min_impur:
                    min_impur = impur
                    col_number = col
                    split_value = mini[0,0]
                mini += interval
            
        self.split = split_value
        self.col = col_number
        
        right_matrix = X_and_y[ (X_and_y[:, col_number] < self.split).ravel(), :]
        left_matrix = X_and_y[ (X_and_y[:, col_number] >= self.split).ravel(), :]
        
        
        if len(right_matrix) > self.threshold and len(left_matrix) > 0: 
            self.right = DecisionTree()
            self.right.train(right_matrix)
        else:
            if np.mean(right_matrix[:, -1]) < 0.5:
                self.right = self.empty_negative
            else:
                self.right = self.empty_positive
        if len(left_matrix) > self.threshold and len(right_matrix) > 0:
            self.left = DecisionTree()
            self.left.train(left_matrix)
        else:
            if np.mean(left_matrix[:, -1]) < 0.5:
                self.left = self.empty_negative
            else:
                self.left = self.empty_positive
            
        
#From LogisticRegression


def square(x):
        return x*x
    
class LogisticRegression:
    
    def __init__(self, regularized = True):
        self.regularized = regularized
    def sigmoid(self, x):
        return 1/(1 + np.exp(-1 * x))
    def logistic_function(self, vec, theta):
        return self.sigmoid(np.dot(vec,theta))
    
    def single_value_cost(self, x_vector, theta, y_value):
        x_vector = np.append(x_vector, 1)
        
        return y_value *  np.log(self.logistic_function(x_vector, theta)) + (1 - y_value) *  np.log( 1 - self.logistic_function(x_vector, theta))
    def gradient(self,theta, X, y):  
        theta = np.matrix(theta)
        X = np.matrix(X)
        y = np.matrix(y)
        n,m = X.shape # for generality
        X0 = np.ones((n,1))
        X= np.hstack((X,X0))
        y = y.T
        parameters = int(theta.ravel().shape[1])
        grad = np.zeros(parameters)
        
        error = self.sigmoid(X * theta.T) - y
        
        for i in range(parameters):
            term = np.multiply(error, X[:,i])
            grad[i] = np.sum(term) / len(X)

        return grad 
    def reg_gradient(self, X, y, theta, lamb):
        
        return self.gradient(theta, X, y) + lamb/(len(y)) * np.append(np.array(theta[:-1]), [0])

    def cost_function(self, x, theta, y):
        m = len(y)
        return (-1/(m)) * sum([self.single_value_cost(x[i], theta, y[i]) for i in range(m)])
    
    def reg_cost_function(self, x, theta, y, lamb):
        
        return self.cost_function(x, theta, y) + lamb/(2 *len(y)) * np.dot(theta[:-1], theta[:-1])
    
    def grad_check(self, x, y, index, theta, lamb):
        
        func_before = self.reg_cost_function(x, theta, y, lamb)
        theta[index] += 0.0000001
        func_after = self.reg_cost_function(x, theta, y, lamb)
        theta[index] -= 0.0000001
        return (func_after- func_before) / 0.0000001
    
    def update_theta(self, theta, alpha, x, y, lamb):
        
        gradient = self.reg_gradient(x, y, theta, lamb)
        
        #check_gradient = [self.grad_check(x, y, index, theta, lamb) for index in range(len(theta))]
        
        #print(gradient)
        
        #print('Check Gradient: ', check_gradient)
        #print('Gradient: ', gradient)
        
        theta = np.array(theta) - alpha * np.array(gradient)
        
        return theta
    
    def initialize_theta(self, x):
        return [rd.random() for i in range(len(x[0]) + 1)]
    
    def scale(self, x):
        x = np.array(x)
        
        x_normed = (x - self.mean)/(self.std)
        
        return x_normed
    
    def train(self, x, y, alpha, num_times, lamb):
        
        x = np.array(x)
        y = np.array(y)
        self.mean = x.mean(axis = 0)
        self.std = x.std(axis = 0)
        new_x= self.scale(x)
        theta = self.initialize_theta(new_x)
        prev = self.reg_cost_function(new_x, theta, y, lamb)
        while num_times > 0:
            if num_times % 100 == 0:
                print('Cost Function Value: ', self.reg_cost_function(new_x, theta, y, lamb))
                
            theta = self.update_theta(theta, alpha, new_x, y, lamb)
            curr = self.reg_cost_function(new_x, theta, y, lamb)
            
            prev = curr
            num_times -= 1
            
        print(theta)
        
        
        self.theta = theta
        #print(self.test(x))
    #def regularized_train(self, x, y, alpha, num_times, lamb):
    
    
    def test(self, x):
        new_x = self.scale(x)
        return np.matrix([np.dot(self.theta, np.matrix(np.append(x_vector, 1)).T) for x_vector in new_x])

In [936]:
#splitting data into training and cv sets
add_feat(data)
change_age(data)
print(data)
msk = np.random.rand(len(data)) < 0.8
train = data[msk]
test = data[~msk]

/Users/aagarwal_601/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex        Age  \
0                              Braund, Mr. Owen Harris    male  22.000000
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.000000
2                               Heikkinen, Miss. Laina  female  26.000000
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000
4                             Allen, Mr. William Henry    male  35.000000
5                                     Moran, Mr. James    male  32.368090
6                              McCarthy, Mr. Timothy J    male  54.000000
7                       Palsson, Master. Gosta Leonard    male   2.000000
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000
10                     Sandstrom, Miss. Marguerite Rut  female   4.000000
11                            Bonnell, Miss. Elizabeth  female  58.000000
12                      Saundercock, Mr. William Henry    male  20.000000
13                         Andersson, Mr. Anders Johan    male  39.000000
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.000000
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.000000
16                                Rice, Master. Eugene    male   2.000000
17                        Williams, Mr. Charles Eugene    male  32.368090
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.000000
19                             Masselmani, Mrs. Fatima  female  35.900000
20                                Fynney, Mr. Joseph J    male  35.000000
21                               Beesley, Mr. Lawrence    male  34.000000
22                         McGowan, Miss. Anna "Annie"  female  15.000000
23                        Sloper, Mr. William Thompson    male  28.000000
24                       Palsson, Miss. Torborg Danira  female   8.000000
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.000000
26                             Emir, Mr. Farred Chehab    male  32.368090
27                      Fortune, Mr. Charles Alexander    male  19.000000
28                       O'Dwyer, Miss. Ellen "Nellie"  female  21.845638
29                                 Todoroff, Mr. Lalio    male  32.368090
..                                                 ...     ...        ...
861                        Giles, Mr. Frederick Edward    male  21.000000
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.000000
863                  Sage, Miss. Dorothy Edith "Dolly"  female  21.845638
864                             Gill, Mr. John William    male  24.000000
865                           Bystrom, Mrs. (Karolina)  female  42.000000
866                       Duran y More, Miss. Asuncion  female  27.000000
867               Roebling, Mr. Washington Augustus II    male  31.000000
868                        van Melkebeke, Mr. Philemon    male  32.368090
869                    Johnson, Master. Harold Theodor    male   4.000000
870                                  Balkic, Mr. Cerin    male  26.000000
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.000000
872                           Carlsson, Mr. Frans Olof    male  33.000000
873                        Vander Cruyssen, Mr. Victor    male  47.000000
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.000000
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.000000
876                      Gustafsson, Mr. Alfred Ossian    male  20.000000
877                               Petroff, Mr. Nedelio    male  19.000000
878                                 Laleff, Mr. Kristo    male  32.368090
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.000000
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.000000
881                                 Markun, Mr. Johann    male  33.000000
882                       Dahlberg, Miss. Gerda Ulrika  female  22.000000
883                      Banfield, Mr. Frederick James    male  28.000000
884                             Sutehall, Mr. Henry Jr    male  25.000000
885               Rice, Mrs. William (Margaret Norton)  female  39.000000
886                              Montvila, Rev. Juozas    male  27.000000
887                       Graham, Miss. Margaret Edith  female  19.000000
888           Johnston, Miss. Catherine Helen "Carrie"  female  21.845638
889                              Behr, Mr. Karl Howell    male  26.000000
890                                Dooley, Mr. Patrick    male  32.000000

     SibSp  Parch            Ticket      Fare        Cabin Embarked  \
0        1      0         A/5 21171    7.2500          NaN        S
1        1      0          PC 17599   71.2833          C85        C
2        0      0  STON/O2. 3101282    7.9250          NaN        S
3        1      0            113803   53.1000         C123        S
4        0      0            373450    8.0500          NaN        S
5        0      0            330877    8.4583          NaN        Q
6        0      0             17463   51.8625          E46        S
7        3      1            349909   21.0750          NaN        S
8        0      2            347742   11.1333          NaN        S
9        1      0            237736   30.0708          NaN        C
10       1      1           PP 9549   16.7000           G6        S
11       0      0            113783   26.5500         C103        S
12       0      0         A/5. 2151    8.0500          NaN        S
13       1      5            347082   31.2750          NaN        S
14       0      0            350406    7.8542          NaN        S
15       0      0            248706   16.0000          NaN        S
16       4      1            382652   29.1250          NaN        Q
17       0      0            244373   13.0000          NaN        S
18       1      0            345763   18.0000          NaN        S
19       0      0              2649    7.2250          NaN        C
20       0      0            239865   26.0000          NaN        S
21       0      0            248698   13.0000          D56        S
22       0      0            330923    8.0292          NaN        Q
23       0      0            113788   35.5000           A6        S
24       3      1            349909   21.0750          NaN        S
25       1      5            347077   31.3875          NaN        S
26       0      0              2631    7.2250          NaN        C
27       3      2             19950  263.0000  C23 C25 C27        S
28       0      0            330959    7.8792          NaN        Q
29       0      0            349216    7.8958          NaN        S
..     ...    ...               ...       ...          ...      ...
861      1      0             28134   11.5000          NaN        S
862      0      0             17466   25.9292          D17        S
863      8      2          CA. 2343   69.5500          NaN        S
864      0      0            233866   13.0000          NaN        S
865      0      0            236852   13.0000          NaN        S
866      1      0     SC/PARIS 2149   13.8583          NaN        C
867      0      0          PC 17590   50.4958          A24        S
868      0      0            345777    9.5000          NaN        S
869      1      1            347742   11.1333          NaN        S
870      0      0            349248    7.8958          NaN        S
871      1      1             11751   52.5542          D35        S
872      0      0               695    5.0000  B51 B53 B55        S
873      0      0            345765    9.0000          NaN        S
874      1      0         P/PP 3381   24.0000          NaN        C
875      0      0              2667    7.2250          NaN        C
876      0      0              7534    9.8458          NaN        S
877      0      0            349212    7.8958          NaN        S
878      0      0            349217    7.8958          NaN        S
879      0      1             11767   83.1583          C50        C
880      0      1            230433   26.0000          NaN        S
881      0      0            349257    7.8958          NaN        S
882      0      0              7552   10.5167          NaN        S
883      0      0  C.A./SOTON 34068   10.5000          NaN        S
884      0      0   SOTON/OQ 392076    7.0500          NaN        S
885      0      5            382652   29.1250          NaN        Q
886      0      0            211536   13.0000          NaN        S
887      0      0            112053   30.0000          B42        S
888      1      2        W./C. 6607   23.4500          NaN        S
889      0      0            111369   30.0000         C148        C
890      0      0            370376    7.7500          NaN        Q

     Sex_Number  Embarked_number  \
0             0                1
1             1                2
2             1                1
3             1                1
4             0                1
5             0                3
6             0                1
7             0                1
8             1                1
9             1                2
10            1                1
11            1                1
12            0                1
13            0                1
14            1                1
15            1                1
16            0                3
17            0                1
18            1                1
19            1                2
20            0                1
21            0                1
22            1                3
23            0                1
24            1                1
25            1                1
26            0                2
27            0                1
28            1                3
29            0                1
..          ...              ...
861           0                1
862           1                1
863           1                1
864           0                1
865           1                1
866           1                2
867           0                1
868           0                1
869           0                1
870           0                1
871           1                1
872           0                1
873           0                1
874           1                2
875           1                2
876           0                1
877           0                1
878           0                1
879           1                2
880           1                1
881           0                1
882           1                1
883           0                1
884           0                1
885           1                3
886           0                1
887           1                1
888           1                1
889           0                2
890           0                3

                                            Name_Plain  Very_Young     Title  \
0                                Braund Mr Owen Harris           0        Mr
1      Cumings Mrs John Bradley Florence Briggs Thayer           0       Mrs
2                                 Heikkinen Miss Laina           0      Miss
3             Futrelle Mrs Jacques Heath Lily May Peel           0       Mrs
4                               Allen Mr William Henry           0        Mr
5                                       Moran Mr James           0        Mr
6                                McCarthy Mr Timothy J           0        Mr
7                         Palsson Master Gosta Leonard           1    Master
8        Johnson Mrs Oscar W Elisabeth Vilhelmina Berg           0       Mrs
9                      Nasser Mrs Nicholas Adele Achem           0       Mrs
10                       Sandstrom Miss Marguerite Rut           1      Miss
11                              Bonnell Miss Elizabeth           0      Miss
12                        Saundercock Mr William Henry           0        Mr
13                           Andersson Mr Anders Johan           0        Mr
14                  Vestrom Miss Hulda Amanda Adolfina           0      Miss
15                        Hewlett Mrs Mary D Kingcome            0       Mrs
16                                  Rice Master Eugene           1    Master
17                          Williams Mr Charles Eugene           0        Mr
18   Vander Planke Mrs Julius Emelia Maria Vandemoo...           0       Mrs
19                               Masselmani Mrs Fatima           0       Mrs
20                                  Fynney Mr Joseph J           0        Mr
21                                 Beesley Mr Lawrence           0        Mr
22                             McGowan Miss Anna Annie           0      Miss
23                          Sloper Mr William Thompson           0        Mr
24                         Palsson Miss Torborg Danira           0      Miss
25   Asplund Mrs Carl Oscar Selma Augusta Emilia Jo...           0       Mrs
26                               Emir Mr Farred Chehab           0        Mr
27                        Fortune Mr Charles Alexander           0        Mr
28                            ODwyer Miss Ellen Nellie           0      Miss
29                                   Todoroff Mr Lalio           0        Mr
..                                                 ...         ...       ...
861                          Giles Mr Frederick Edward           0        Mr
862    Swift Mrs Frederick Joel Margaret Welles Barron           0       Mrs
863                      Sage Miss Dorothy Edith Dolly           0      Miss
864                               Gill Mr John William           0        Mr
865                               Bystrom Mrs Karolina           0       Mrs
866                         Duran y More Miss Asuncion           0      Miss
867                 Roebling Mr Washington Augustus II           0        Mr
868                          van Melkebeke Mr Philemon           0        Mr
869                      Johnson Master Harold Theodor           1    Master
870                                    Balkic Mr Cerin           0        Mr
871       Beckwith Mrs Richard Leonard Sallie Monypeny           0       Mrs
872                             Carlsson Mr Frans Olof           0        Mr
873                          Vander Cruyssen Mr Victor           0        Mr
874                  Abelson Mrs Samuel Hannah Wizosky           0       Mrs
875                       Najib Miss Adele Kiamie Jane           0      Miss
876                        Gustafsson Mr Alfred Ossian           0        Mr
877                                 Petroff Mr Nedelio           0        Mr
878                                   Laleff Mr Kristo           0        Mr
879          Potter Mrs Thomas Jr Lily Alexenia Wilson           0       Mrs
880           Shelley Mrs William Imanita Parrish Hall           0       Mrs
881                                   Markun Mr Johann           0        Mr
882                         Dahlberg Miss Gerda Ulrika           0      Miss
883                        Banfield Mr Frederick James           0        Mr
884                               Sutehall Mr Henry Jr           0        Mr
885                   Rice Mrs William Margaret Norton           0       Mrs
886                                Montvila Rev Juozas           0  Academic
887                         Graham Miss Margaret Edith           0      Miss
888               Johnston Miss Catherine Helen Carrie           0      Miss
889                                Behr Mr Karl Howell           0        Mr
890                                  Dooley Mr Patrick           0        Mr

     Title_Numeric
0                1
1                2
2                4
3                2
4                1
5                1
6                1
7                3
8                2
9                2
10               4
11               4
12               1
13               1
14               4
15               2
16               3
17               1
18               2
19               2
20               1
21               1
22               4
23               1
24               4
25               2
26               1
27               1
28               4
29               1
..             ...
861              1
862              2
863              4
864              1
865              2
866              4
867              1
868              1
869              3
870              1
871              2
872              1
873              1
874              2
875              4
876              1
877              1
878              1
879              2
880              2
881              1
882              4
883              1
884              1
885              2
886              6
887              4
888              4
889              1
890              1

[891 rows x 18 columns]

In [937]:
print(len(test))

178

In [938]:
print(len(train))

713

In [939]:
#Gathering relevant information from training/testing dataframe
def split(data):
    things_in_x = ['Pclass', 'Age', 'Fare', 'Parch', 'Sex_Number', 'Embarked_number', 'Title_Numeric', 'Very_Young']
    x = np.array([np.array(data[thing]) for thing in things_in_x])
    y = np.array(data['Survived'])
    return x, y

x_train, y = split(train)
x = np.matrix(x_train).T

In [940]:
#Logistic Regression
log = LogisticRegression()
log.train(x, y, 1, 1000, 5)

Cost Function Value:  0.661375367592
Cost Function Value:  0.451914967153
Cost Function Value:  0.451913471314
Cost Function Value:  0.45191347129
Cost Function Value:  0.45191347129
Cost Function Value:  0.45191347129
Cost Function Value:  0.45191347129
Cost Function Value:  0.45191347129
Cost Function Value:  0.45191347129
Cost Function Value:  0.45191347129
[-0.87929817 -0.2443481   0.08078627 -0.15402218  1.20171234  0.19264687
 -0.03744065  0.35578375 -0.60760625]

In [941]:
#Testing
x_test, y_test = split(test)
x_test = np.matrix(x_test).T
k = log.scale(x_test)

In [942]:
y_pred = []
for vec in k:
    l = np.append(vec, 1)
    y_pred += [int(round(log.sigmoid(np.dot(log.theta, l))))]

     
print(calc_f_score(y_pred, y_test))
#THIS IS THE ACCURACY OF  THE MODEL

0.768

In [943]:
#Built-in Logistic Regression Model
from sklearn.linear_model import LogisticRegression as lr
from sklearn import metrics
logreg = lr()
logreg.fit(x, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [944]:
y_pred0 = logreg.predict(x_test)

In [945]:
print(y_pred0)

[0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 0 0 1 1 0 0 1 1 0 0
 0 1 0 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 1 0 1 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1
 0 0 0 0 1 0 1 1 0 0 0 1 0 0 1 0 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1
 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 1
 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 1 0 1 0]

In [946]:
print(y_test)

[0 1 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 0 1 1 0 0
 1 1 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 1 0 0 1 0 1 1 0 0 0 1 1 0 0 0 1
 0 0 0 0 1 1 1 1 0 0 0 1 0 0 1 0 1 1 1 1 0 1 0 1 0 0 1 0 0 0 1 1 0 1 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1
 1 0 1 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 1 0 0 1 0 1 0]

In [947]:
calc_f_score(y_pred, y_test)
#F-score of built in model

0.768

It looks like the model I implemented from scratch not only matches the predictions by the sk.learn model, but it acutally seems to improve on them in the cross-validation. This suggests that my algorithmic implementation of logistic regression is correct. Now on to the decision tree

In [948]:
#Splits data into information relevant for tree testing
def split_tree(data):
    things_in_x = ['Pclass', 'Age', 'Fare', 'Parch', 'Sex_Number', 'Embarked_number', 'Title_Numeric', 'Very_Young', 'Survived']
    x_and_y = data[things_in_x]
    return x_and_y.as_matrix()
x_and_y = split_tree(train)
print(x_and_y)

[[  3.          22.           7.25       ...,   1.           0.           0.        ]
 [  1.          38.          71.2833     ...,   2.           0.           1.        ]
 [  3.          26.           7.925      ...,   4.           0.           1.        ]
 ...,
 [  3.          21.84563758  23.45       ...,   4.           0.           0.        ]
 [  1.          26.          30.         ...,   1.           0.           1.        ]
 [  3.          32.           7.75       ...,   1.           0.           0.        ]]

In [949]:

print(len(x_and_y))

713

In [950]:
#Decision Tree Training
tree = DecisionTree(len(x_and_y))
tree.train(x_and_y)

In [951]:
print(tree)

(1.6, 6)
(2.8, 0)
(19.31, 2)
(0.6, 3)
(25.14625, 2)
(-)
(-)
(+)
(6.678, 1)
(8.00083, 2)
(1.8, 3)
(+)
(0.9, 4)
(-)
(+)
(+)
(+)
(4.5, 6)
(-)
(1.8, 5)
(48.2, 1)
(+)
(0.9, 7)
(+)
(3.8, 6)
(+)
(+)
(136.75, 2)
(+)
(35.13, 2)
(+)
(23.602, 1)
(27.4, 1)
(+)
(+)
(+)
(2.0, 0)
(51.45, 2)
(-)
(23.8125, 2)
(-)
(2.0, 5)
(15.555, 2)
(+)
(29.3, 1)
(2.9, 0)
(8.25, 2)
(-)
(-)
(+)
(-)
(13.515, 2)
(-)
(9.45, 2)
(29.8, 1)
(-)
(-)
(27.6, 1)
(6.93, 2)
(8.01582, 2)
(-)
(7.74916, 2)
(-)
(-)
(-)
(23.7, 1)
(-)
(21.6, 1)
(-)
(-)
(48.5, 1)
(-)
(32.5, 1)
(+)
(131.5, 2)
(-)
(-)

In [952]:
print([tree.test(pt) for pt in split_tree(test)])

[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0]

In [953]:
y_pred2 = [tree.test(pt) for pt in split_tree(test)]
len(y_pred2)

178

In [954]:
len(y_test)

178

In [955]:
calc_f_score(y_pred2, y_test)

0.694214876033058

All In All, we see that regardless of which method we use we obtain similar results. Specificially a 70-75% accuracy on this data set. Repeating Multiple Trials, suggests that both methods are fairly equal in their assessment of the data.